#bg {
    background-image: url(images/pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:94vh;  /* responsive height */
  }

  .random{
    border-bottom: 1px solid darkblue;
  }